<h2>Create a new list</h2>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit "submit", class: "btn btn-info" %>
 <% end %>

<div class="pt-4">
    <%= link_to "Back to home", root_path, class: "btn btn-info" %>
    <%# <%= link_to "Back to list", new_list_path, class: "btn btn-info" %>
</div>
