<h2> <%= @list.name %> </h2>
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-category mt-5 p-0 col-6 bg-white rounded shadow d-flex flex-column align-items-center justify-content-center">
      <img src="<%=bookmark.movie.poster_url%>" alt="movieposter" class="movie-img"/>
      <div class="py-3">
        <h3> <%= bookmark.movie.title %> </h3>
        <p> "- <%= bookmark.comment %>" </p>
      </div>
    </img>
  <% end %>
</div>

<div class="my-5">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-info" %>
  <%= link_to "See all lists", lists_path, class: "btn btn-info" %>
</div>
