<h2 class=""> <%= @list.name %> </h2>

<div class="row">

  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-category mt-3 p-0 col-4 bg-white d-flex flex-column align-items-center justify-content-between m-1 flex-wrap">
      <img src="<%=bookmark.movie.poster_url%>" alt="movieposter" class="movie-img"/>
      <div class="p-4 d-flex flex-column align-items center justify-content-center">
        <h3> <%= bookmark.movie.title %> </h3>
        <p style=""> <%= bookmark.movie.overview %> </p>
        <p style="font-size: smaller"> - "<%= bookmark.comment %>" </p>
      </div>
    </div>
  <% end %>

</div>

<div class="my-4 d-flex justify-content-begin">
  <span></span>
  <div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-info" %>
    <%= link_to "See all lists", root_path, class: "btn btn-info" %>
  </div>
</div>
